Repository embedded-graphics/embedded-graphics, pull requests merged in 2019-09, with the labels that each got.

#158 Rename (Unsigned)Coord to Point and Size
  CHANGELOG.md
  README.md
  embedded-graphics/benches/primitives.rs
  embedded-graphics/src/coord.rs
  embedded-graphics/src/drawable.rs
  embedded-graphics/src/fonts/font12x16.rs
  embedded-graphics/src/fonts/font6x12.rs
  embedded-graphics/src/fonts/font6x8.rs
  embedded-graphics/src/fonts/font8x16.rs
  embedded-graphics/src/fonts/font_builder.rs
  embedded-graphics/src/fonts/mod.rs
  embedded-graphics/src/geometry/mod.rs
  embedded-graphics/src/geometry/point.rs
  embedded-graphics/src/geometry/size.rs
  embedded-graphics/src/image/image.rs
  embedded-graphics/src/image/image_bmp.rs
  embedded-graphics/src/image/image_tga.rs
  embedded-graphics/src/lib.rs
  embedded-graphics/src/mock_display.rs
  embedded-graphics/src/prelude.rs
  embedded-graphics/src/primitives/circle.rs
  embedded-graphics/src/primitives/line.rs
  embedded-graphics/src/primitives/mod.rs
  embedded-graphics/src/primitives/rectangle.rs
  embedded-graphics/src/primitives/triangle.rs
  embedded-graphics/src/transform.rs
  embedded-graphics/src/unsignedcoord.rs
  embedded-graphics/tests/chaining.rs
  simulator/examples/chaining.rs
  simulator/examples/fill-macros.rs
  simulator/examples/fill.rs
  simulator/examples/fonts.rs
  simulator/examples/hello.rs
  simulator/examples/offscreen.rs
  simulator/examples/stroke.rs
  simulator/examples/transparent-fonts.rs
  simulator/examples/triangles.rs
  simulator/src/lib.rs
Labels: breaking change

#166 Add bool conversions for BinaryColor
  embedded-graphics/src/pixelcolor/binary_color.rs
Labels: enhancement

#169 Remove Image structs from prelude
  CHANGELOG.md
  embedded-graphics/src/image/image.rs
  embedded-graphics/src/pixelcolor/raw/mod.rs
  embedded-graphics/src/prelude.rs
Labels: breaking change

#171 Add more complicated clock example to simulator
  .circleci/config.yml
  CHANGELOG.md
  embedded-graphics/src/primitives/mod.rs
  simulator/Cargo.toml
  simulator/examples/analog-clock.rs
  simulator/src/lib.rs
Labels: docs, enhancement

#177 Fix circle stroke fill
  CHANGELOG.md
  embedded-graphics/src/image/image_bmp.rs
  embedded-graphics/src/primitives/circle.rs
Labels: bug

#178 Less confusing style fns
  CHANGELOG.md
  embedded-graphics/README.md
  embedded-graphics/benches/fonts.rs
  embedded-graphics/benches/primitives.rs
  embedded-graphics/src/fonts/font12x16.rs
  embedded-graphics/src/fonts/font6x12.rs
  embedded-graphics/src/fonts/font6x8.rs
  embedded-graphics/src/fonts/font8x16.rs
  embedded-graphics/src/fonts/font_builder.rs
  embedded-graphics/src/fonts/mod.rs
  embedded-graphics/src/lib.rs
  embedded-graphics/src/pixelcolor/mod.rs
  embedded-graphics/src/primitives/circle.rs
  embedded-graphics/src/primitives/line.rs
  embedded-graphics/src/primitives/mod.rs
  embedded-graphics/src/primitives/rectangle.rs
  embedded-graphics/src/primitives/triangle.rs
  embedded-graphics/src/style.rs
  embedded-graphics/tests/chaining.rs
  simulator/README.md
  simulator/examples/analog-clock.rs
  simulator/examples/chaining.rs
  simulator/examples/fill-macros.rs
  simulator/examples/fill.rs
  simulator/examples/fonts.rs
  simulator/examples/hello.rs
  simulator/examples/offscreen.rs
  simulator/examples/stroke.rs
  simulator/examples/transparent-fonts.rs
  simulator/examples/triangles.rs
  simulator/src/lib.rs
Labels: breaking change
